<div class="center jumbotron">
  <% if logged_in? %>
  <div style="width: 100%;">
      <div style="border-bottom: 5px solid #ffffff; text-align: left">
          <h1 style="text-align: left">Últimas notícias</h1>
      </div>
      <div style="border-bottom: 5px solid #ffffff;">
          <h1 style="text-align: left">Produtos recentes</h1>
      </div>
  </div>
  <% else %>
  <%= link_to image_tag("Alliage.png", alt: "Alliage logo"),
            'http://www.alliage-global.com/site/index.html' %>
  <h1>Alliage web app</h1>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

